<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterProcess</servlet-name>
        <servlet-class>RegisterProcess</servlet-class>
    </servlet>
    <listener>
        <listener-class>Listener</listener-class>
    </listener>
    <servlet>
        <servlet-name>UpdatePic</servlet-name>
        <servlet-class>UpdatePic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmpPic</servlet-name>
        <servlet-class>GetEmpPic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadId</servlet-name>
        <servlet-class>DownloadId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDocumentProcess</servlet-name>
        <servlet-class>UpdateDocumentProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGenPic</servlet-name>
        <servlet-class>GetGenPic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPic1</servlet-name>
        <servlet-class>GetPic1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterProcess</servlet-name>
        <url-pattern>/RegisterProcess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPic</servlet-name>
        <servlet-class>GetPic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPic</servlet-name>
        <url-pattern>/GetPic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendRequestProcess</servlet-name>
        <servlet-class>SendRequestProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendRequestProcess</servlet-name>
        <url-pattern>/SendRequestProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePic</servlet-name>
        <url-pattern>/UpdatePic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileDownloads</servlet-name>
        <servlet-class>FileDownloads</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileDownloads</servlet-name>
        <url-pattern>/FileDownloads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmpPic</servlet-name>
        <url-pattern>/GetEmpPic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadId</servlet-name>
        <url-pattern>/DownloadId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDocumentProcess</servlet-name>
        <url-pattern>/UpdateDocumentProcess</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>aemail</param-name>
        <param-value>mdwasimakram43362@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>apass</param-name>
        <param-value>WasimAkram786</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>GetGenPic</servlet-name>
        <url-pattern>/GetGenPic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPic1</servlet-name>
        <url-pattern>/GetPic1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
